<!DOCTYPE html>
<html>
    <head>
        <link href="/img/wrong.svg" rel="icon">
        <title>Unknown page</title>
     <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
       <p>{{>404_page}}</p>
    </body>
</html>