<!DOCTYPE html>
<html>
    <head>
        <link href="/img/smog-solid.svg" rel="icon">
        <title>about</title>
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/index.js"></script>
    </head>
        <body>
            <h1>{{>header}}</h1>
            <img src="/img/our_img.jpeg">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis blanditiis recusandae adipisci cum nisi iusto deserunt, repudiandae totam eius eveniet, dolore ut illo quaerat voluptatibus architecto illum nemo quis aspernatur?
            Quod qui accusantium dolor earum ab vero, assumenda consequuntur accusamus quas saepe, nihil ullam modi voluptas dolorum! Natus laborum ipsam ullam maiores suscipit, sequi magni? Beatae ducimus perspiciatis quae inventore.</p>
        </body>
</html>