<!DOCTYPE html>
<html>
    <head>
        <link href="/img/smog-solid.svg" rel="icon">
        <title>help</title>
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/index.js"></script>
    </head>
        <body>
            {{>header}}
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, temporibus nesciunt obcaecati eum ab amet reprehenderit praesentium aliquid, aut nam saepe quod ullam error libero quia recusandae id enim pariatur!
            Illo sit autem beatae molestias quae quisquam amet quaerat consectetur optio, adipisci quod architecto id velit veniam, temporibus corrupti labore praesentium. Nisi impedit quod deleniti a doloremque consequatur est aliquam.
            Tenetur doloribus autem quo minus saepe velit similique laboriosam blanditiis quod sint excepturi facere eos provident nihil fugit aut numquam et, neque non ducimus animi dolorem quia nisi. Nemo, expedita!
            Iure perferendis explicabo deserunt ea, amet quod illum eius doloribus facere cum, et repellat ad pariatur esse id dolores, magni reiciendis corrupti quas modi sunt asperiores veritatis. Vero, et odit.
            Quos, saepe dignissimos aut quis culpa corrupti harum accusamus aliquid repudiandae doloremque, id hic ipsa repellendus provident voluptatum, corporis eveniet perferendis ipsum quae sed sequi eos. Error veniam velit unde?</p>
        </body>
</html>